
.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #f9f9f9;
  }
  
  .chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    line-height: 1.4;
  }
  
  .user {
    align-self: flex-end;
    /* background-color: #F0F4F9; */
    background-color: #daeaff;
  }
  
  .bot {
    align-self: flex-start;
    background-color: #e0e0e0;
  }
  
  .input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: white;
  }
  
  .input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
  }
  
  .input-area button {
    margin-left: 10px;
    padding: 10px 20px;
    /* background-color: #283779; */
    background-color: #1B71A1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .input-area button:hover {
    /* background-color: #1B71A1; */
    background-color: #1b72a1e0;
  }
  
/* **************** */

  .navlink-hover-white {
    color: #283779;
    text-decoration: none;
    /* transition: color 0.3s ease; */
  }
.navlink-hover-white:hover {
    color: #fff;
    text-decoration: none;
}

.bt-white{
  color: #283779;
}
.bt-white:hover{
  color: #fff;
}







/* ======= */
.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: block;
}

.dropdown-item {
  padding: 10px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dropdown-header {
  padding: 12px 16px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}


.tooltip-white {
  /* background: #ffffff !important;
  color: #1f2937 !important; 
  border: 1px solid #e5e7eb; 
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  max-width: 220px;
  text-align: center; */
   background: #ffffff !important;
  color: #1f2937 !important; /* gris foncé */
  border: 1px solid #e5e7eb; /* gris clair */
  border-radius: 10px  !important; /* PLUS arrondi */
  padding: 14px 12px  !important;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12); /* ombre plus profonde */
  transition: all 0.2s ease-in-out;
  max-width: 240px;
  text-align: center;

}


.text-link {
  color: #283779;
  text-decoration: none;
}

button:hover .text-link {
  color: white;
  text-decoration: none;
}

nav{
  /* background-color: #b2dded; */
   background-color: #b2dded86;
 /* background-color: #b2dded69; */

}
